//- inclueds/admin-info-panel.jade
#admin_info_panel
html
  body
    .row
      .col-md-3.col-sm-6.col-xs-12
        .info-box
          span.info-box-icon.bg-aqua
            i.fa.fa-users
          .info-box-content
            span.info-box-text Guests
            span.info-box-number 5

      .col-md-3.col-sm-6.col-xs-12
        .info-box
          span.info-box-icon.bg-green
            i.fa.fa-flag-o
          .info-box-content
            span.info-box-text Pacakges 
            span.info-box-number 12

      .col-md-3.col-sm-6.col-xs-12
        .info-box
          span.info-box-icon.bg-yellow
            i.fa.fa-files-o
          .info-box-content
            span.info-box-text Visitors
            span.info-box-number 13

      .col-md-3.col-sm-6.col-xs-12
        .info-box
          span.info-box-icon.bg-red
            i.fa.fa-star-o
          .info-box-content
            span.info-box-text Dry Clean
            span.info-box-number 3
