doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title DorCap.io | 404
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.5
    link(rel='stylesheet', href='../../bootstrap/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='../../dist/css/AdminLTE.min.css')
    // iCheck
    link(rel='stylesheet', href='../../plugins/iCheck/square/blue.css')
    link(rel='stylesheet', href='stylesheets/custom.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.hold-transition.login-page
    section.content
        .error-page
          h2.headline.text-yellow  404
          .error-content
            h3
              i.fa.fa-warning.text-yellow
              |  Oops! Page not found.
            p
              | We could not find the page you were looking for.
              | Meanwhile, you may 
              a(href='../../main') return to dashboard
              |  or try using the search form.
            form.search-form
              .input-group
                input.form-control(type='text', name='search', placeholder='Search')
                .input-group-btn
                  button.btn.btn-warning.btn-flat(type='submit', name='submit')
                    i.fa.fa-search
              // /.input-group
          // /.error-content
        // /.error-page
      // /.content
    // jQuery 2.1.4
    script(src='../../plugins/jQuery/jQuery-2.1.4.min.js')
    // Bootstrap 3.3.5
    script(src='../../bootstrap/js/bootstrap.min.js')
    // iCheck
    script(src='../../plugins/iCheck/icheck.min.js')
    script.
      $(function () {
      $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
      });
      });
