
extends layout
block content
    
    script(type='text/javascript')      
      $(function(){      
      $("#end_date").datepicker({ autoclose: true, todayHighlight: true, autoSize: true }).datepicker('update', new Date());}
      );
    
    script(type='text/javascript')
      $(function(){
      $("#start_date").datepicker({ autoclose: true, todayHighlight: true }).datepicker('update', new Date());}
      );
    
    // script(type='text/javascript')  
        $(".datepicker").css('margin-left', '-50px', 'margin-top', '-250px');

    
    if message
        p= message
    form(class='form-horizontal',action='/add_guest',method='POST',id='addGuest')
        fieldset
            div#legand
                legend Guest Information
            div.row.form-grid
                .col-sm-4.form-col
                    div.control-group
                        label(for='first_name',class='control-label') First Name
                        div.controls
                            input(type='text',id='first_name',name='first_name',placeholder='First name',class='input-xlarge', required='true')
                .col-sm-4.form-col
                    div.control-group
                        label(for='lase_name',class='control-label') Last Name
                        div.controls
                            input(type='text',id='last_name',name='last_name',placeholder='Last Name',class='input-xlarge', required='true')

            div.row.form-grid
                .col-sm-4.form-col
                    div.control-group
                        label(for='email',class='control-label') Email
                        div.controls
                            input(type='text',id='email',name='email',placeholder='Email',class='input-xlarge', required='true')
                .col-sm-4.form-col    
                    div.control-group
                        label(for='mobile',class='control-label') Mobile number
                        div.controls
                            input(type='text',id='mobile',name='mobile',placeholder='Mobile Number',class='input-xlarge', required='true')    
                .col-sm-4.form-col    
                    div.control-group
                        label(for='phone',class='control-label') Phone number
                        div.controls
                            input(type='text',id='phone',name='phone',placeholder='Phone Number',class='input-xlarge', required='true')        

            
            div.row.form-grid
                .col-sm-4.form-col
                    div.control-group
                        label(for='apt',class='control-label') Apt #
                        div.controls
                            input(type='text',id='apt',name='apt',placeholder='Apt',class='input-xlarge', required='true')
                .col-sm-4.form-col    
                    div.control-group
                        label(for='start_date',class='control-label') Start Date
                        div.controls
                            input(type='text',id='start_date',name='start_date',placeholder='Start Date',class='input-xlarge', required='true')  
                .col-sm-4.form-col    
                    div.control-group
                        label(for='end_date',class='control-label') End Date
                        div.controls
                            input(type='text',id='end_date',name='end_date',placeholder='End Date',class='input-xlarge', required='true')        

            div.row.form-grid
              .col-sm-4.form-col
               div.control-group
                div.checkbox.checkbox-primary
                  input(type="checkbox", name="app_fee_paid", id="app_fee_paid")
                  label(for='app_fee_paid') Application fee paid
                        
            div.row.form-grid
              .col-sm-4.form-col
               div.control-group
                .checkbox.checkbox-danger
                  input(type="checkbox", name="app_deposit_paid", id="app_deposit_paid")
                  label(for='app_deposit_paid') Deposid Paid

            div.control-group                        
                br
            div.control-group
                div.controls
                    button(type='submit',class='btn btn-lg btn-primary btnAddGuest') Add Guest

//
    h3= title
    form(role="form")#formAddReservation(name="addreservation",method="post",action="/add_res", class="form-horizontal")                  
        div.form-group
            // label(for="first_name") First Name                        
            input#inp_First_name(type="text", placeholder="First name", name="first_name")
            // label(for="last_name") Last Name                        
            input#inp_Last_name(type="text", placeholder="Last name", name="last_name")            
            br            
            input#inp_Email(type="text", placeholder="Email", name="email")
            input#inp_Phone(type="text", placeholder="Phone", name="phone")
            input#inp_Mobile(type="text", placeholder="Mobile", name="mobile")
            br
            input#s_datepicker(type='text', name='s_datepicker')                     
            input#e_datepicker(type='text', name='e_datepicker')                     
            br
            // input#inp_Start_date(type="text", placeholder="Start Date", name="start_date")
            // input#inp_End_date(type="text", placeholder="End Date", name="end_date")
            br
            input#inp_Apt(type="text", placeholder="Apt #", name="apt")
            br 
            br
            button#btnSubmit(type="submit").btn.btn-primary Add Reservation
            
           
      

//
    form(method="post")
      fieldset
        legend General
        p
          label(for="user[name]") Username:
            input(type="text", name="user[name]", value="user.name")
        p
          label(for="user[email]") Email:
            input(type="text", name="user[email]", value="user.email")
            .tip.
              Enter a valid 
              email address 
              such as <em>tj@vision-media.ca</em>.
      fieldset
        legend Location
        p
          label(for="user[city]") City:
            input(type="text", name="user[city]", value="user.city")
        p
          select(name="user[province]")
            option(value="") -- Select Province --
            option(value="AB") Alberta
            option(value="BC") British Columbia
            option(value="SK") Saskatchewan
            option(value="MB") Manitoba
            option(value="ON") Ontario
            option(value="QC") Quebec
      p.buttons
        input(type="submit", value="Save")

//-       
    extends layout        
    block content
      div.top
        form.form-horizontal(method="post", id="loginForm")
          label Username
          input.span3(id="username", type="text", name="User", placeholder="Enter your username")
          label Password
          input.span3(id="password", type="password", name="Password")
          input.btn(type="submit", value="Log In")
      div.container
        div.content
          table.table.table-striped
            thead
              tr
                th Table
                th Heading
            tbody
              tr
                td Blah
                td Test
              tr
                td Hello
                td World

      div.footer
