
extends layout
block content
    
    script.
      var start_date =  '!{guest.start_date}';
      var end_date = '!{guest.end_date}';    
      $(function(){  
      var numbers = end_date.match(/\d+/g); 
      var edate = new Date(numbers[2], numbers[0]-1, numbers[1]);    
      $("#end_date").datepicker({ autoclose: true, todayHighlight: true, autoSize: true }).datepicker('update', edate);}
      );
    

      $(function(){
      var numbers = start_date.match(/\d+/g); 
      var sdate = new Date(numbers[2], numbers[0]-1, numbers[1]);    	  
      $("#start_date").datepicker({ autoclose: true, todayHighlight: true }).datepicker('update', sdate);}
      );
     
      $(function(){
      var fee =  '!{guest.app_fee_paid}';
      var deposit = '!{guest.app_deposit_paid}';
      fee = getBool(fee);
      deposit = getBool(deposit);
      console.log(">> fee :[" + fee + "] Deposit:[" + deposit + "]" );
      $("#app_deposit_paid").attr("checked", deposit);
      $("#app_fee_paid").attr("checked", fee);
      });

      function getBool(val){
      if(val == undefined || val == '' || val == false || val == 'false'){
       val = false;
      }else if(val == true || val == 'true'){
       val = true;
      }else{
       val = false;
      }	  
      return val;
      }
    
    // script(type='text/javascript')  
        $(".datepicker").css('margin-left', '-50px', 'margin-top', '-250px');

    
    if message
        p= message
    form(class='form-horizontal',action='/edit_guest',method='POST',id='saveGuest')
        fieldset
            div#legand
                legend Guest Information
            div.row.form-grid
                .col-sm-4.form-col
                    div.control-group
                        label(for='first_name',class='control-label') First Name
                        div.controls
                            input(type='text',id='first_name',name='first_name',placeholder='First name',class='input-xlarge', required='true',  value='#{guest.first_name}')
                            input(type='hidden',id='_id',name='_id', value='#{guest._id}')
                .col-sm-4.form-col
                    div.control-group
                        label(for='lase_name',class='control-label') Last Name
                        div.controls
                            input(type='text',id='last_name',name='last_name',placeholder='Last Name',class='input-xlarge', required='true', value='#{guest.last_name}')

            div.row.form-grid
                .col-sm-4.form-col
                    div.control-group
                        label(for='email',class='control-label') Email
                        div.controls
                            input(type='text',id='email',name='email',placeholder='Email',class='input-xlarge', required='true', value='#{guest.email}')
                .col-sm-4.form-col    
                    div.control-group
                        label(for='mobile',class='control-label') Mobile number
                        div.controls
                            input(type='text',id='mobile',name='mobile',placeholder='Mobile Number',class='input-xlarge', required='true', value='#{guest.mobile}')    
                .col-sm-4.form-col    
                    div.control-group
                        label(for='phone',class='control-label') Phone number
                        div.controls
                            input(type='text',id='phone',name='phone',placeholder='Phone Number',class='input-xlarge', required='true', value='#{guest.phone}')        

            
            div.row.form-grid
                .col-sm-4.form-col
                    div.control-group
                        label(for='apt',class='control-label') Apt #
                        div.controls
                            input(type='text',id='apt',name='apt',placeholder='Apt',class='input-xlarge', required='true', value='#{guest.apt}')
                .col-sm-4.form-col    
                    div.control-group
                        label(for='start_date',class='control-label') Start Date
                        div.controls
                            input(type='text',id='start_date',name='start_date',placeholder='Start Date',class='input-xlarge', required='true', value='#{guest.start_date}')  
                .col-sm-4.form-col    
                    div.control-group
                        label(for='end_date',class='control-label') End Date
                        div.controls
                            input(type='text',id='end_date',name='end_date',placeholder='End Date',class='input-xlarge', required='true', value='#{guest.end_date}')        

            div.row.form-grid
              .col-sm-4.form-col
               div.control-group
                div.checkbox.checkbox-primary
                  input(type="checkbox", name="app_fee_paid", id="app_fee_paid")
                  label(for='app_fee_paid') Application fee paid
                        
            div.row.form-grid
              .col-sm-4.form-col
               div.control-group
                .checkbox.checkbox-danger
                  input(type="checkbox", name="app_deposit_paid", id="app_deposit_paid")
                  label(for='app_deposit_paid') Deposid Paid
            
            div.control-group                        
                br
            div.control-group
                div.controls
                    button#guestSave(type='submit',class='btn btn-lg btn-success btnEditGuest') Save
                    button#guestDelete(type='button',class='btn btn-lg btn-danger btnEditGuest') Delete
                    button#guestCancel(type='button',class='btn btn-lg btn-warning btnEditGuest') Cancel
block scripts
  script(src='/javascripts/edit_guest.js')
                    