extends layout

block content

    
    div.searchWraper
        input#search_guest(type="search", name="search_guest", placeholder="Guest name or apt #")
        button(type='button',class='btn btn-md btn-primary btnSearchGuest', id="search_by_btn") Search
        h2#results
    
    div#reservations-container
     div#guestListContainer
      //table.table.table-striped(style="")  
      table.table.table-bordered(style="")  
       thead
        tr
         if(isAdmin)
          th.thGuest Apt #
          th.thGuest Full Name
          th.thGuest Mobile/Other
          th.thGuest Status
          th.thGuest Fee/Deposit
          th.thGuest Email
          th.thGuest Start Date
          th.thGuest End Date
          th.thGuest Comment
         else
          th.thGuest Apt #
          th.thGuest Full Name
          th.thGuest Mobile/Other
          th.thGuest Start Date
          th.thGuest End Date
        tbody
           +generateList(reslist, isAdmin)

block scripts
  script(src='/javascripts/search.js')