doctype html
html(lang='en')
 head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')
  link(rel='icon', href='#{pathToAssets}/docs/favicon.ico')
  title SeaAir Towers
  include mixins/guest_list
  include mixins/nav_menu
  include mixins/boolean_to_val
  // Bootstrap core CSS
  link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
  link(href='stylesheets/style.css', rel='stylesheet')
  link(href='stylesheets/grid.css', rel='stylesheet')
  link(href='stylesheets/navbar.css', rel='stylesheet')
  link(href='datepicker/css/bootstrap-datepicker.css', rel='stylesheet')
  link(href='stylesheets/datepicker.css', rel='stylesheet')
  link(href='stylesheets/login.css', rel='stylesheet')
  link(href='stylesheets/checkbox.css', rel='stylesheet')
  link(href="stylesheets/font-awesome.min.css", rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='bootstrap/js/bootstrap.min.js')
  script(src='datepicker/js/bootstrap-datepicker.js')
  script(src='javascripts/bootbox.min.js')
  body
    // Fixed navbar
   header
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          // a.navbar-brand(href='#') Sea Air Towers
          a(href='/home')
            img(class='pull-left', src='/images/seaAirTowers.png', style="padding-top:5px;")
        .navbar-collapse.collapse
          ul.nav.navbar-nav
           //each menuitem in [{title:'Home',url:'/home'},{title:'Add Guest',url:'/add_guest'},{title:'Contact',url:'/contact'}]
           +generateMenu(isAdmin, path)
           
                //li.active
                //  a(href='reservations') Home
                //li
                //  a(href='add_guest') Add Guest
                //li
                //  a(href='#contact') Contact
           if(isAdmin)
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Admin Menu 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='signup') Add User
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li.dropdown-header Nav header
                li
                  a(href='#') Separated link
                li
                  a(href='#') One more separated link
          ul.nav.navbar-nav.navbar-right
            if(loggedIn)
             li
               a(href='#') Hello !{username}!
            //li
            //  a(href='../navbar-static-top/') Static top
            //li.active
            li
               if(!loggedIn)
                 a(href='./') Login
               else
                 a(href='/signout') Logout
               
        // /.nav-collapse
    .container
      // Main component for a primary marketing message or call to action                  
      .jumbotron1                  
      
        // h3 Sea Air Towers - Reservation
        block content
        
        // p
        //  | This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
        // p To see the difference between static and fixed top navbars, just scroll.
        // p
        //  a.btn.btn-lg.btn-primary(href='../../components/#navbar', role='button') View navbar docs &raquo;
    // /container
    
        
block scripts    

    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    //
    // original template  https://github.com/ALT-F1/bootstrap3-jade-node-express-grunt/blob/master/app/views/bootstrap3-templates/navbar-fixed-top.jade 
    