extends login_layout
block content
		div.container
			div.row
				div.col-md-12.col-md-4.col-md-offset-4
					h2.text-center.login-title SeaAir Guest Portal
						div.account-wall
							img(class='profile-img', src='images/login.png')
							form(class='form-signin', action='/login', method='POST')
								input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
								input(type='password', name='password' class='form-control', placeholder='Password', required)
								button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
								span.clearfix
						//- a(href='/signup', class='text-center new-account') Create an account
						#message
						if message
							h3.text-center.error-message #{message}