
extends layout
link(rel='stylesheet', href='plugins/daterangepicker/datepicker3.css')
block content  
  //-  
      script(type='text/javascript')      
        $(function(){      
        $("#end_date").datepicker({ autoclose: true, todayHighlight: true, autoSize: true }).datepicker('update', new Date());}
        );
    
      script(type='text/javascript')
        $(function(){
        $("#start_date").datepicker({ autoclose: true, todayHighlight: true }).datepicker('update', new Date());}
        );
    
        $(".datepicker").css('margin-left', '-50px', 'margin-top', '-250px');

  include includes/admin_info_panel      
  .row
    .col-lg-12  
      .box.box-primary
        .box-header.with-border
          h3.box-title Guest Detials
        // /.box-header
        // form start
        form(role='form', action='/add_guest',method='POST',id='addGuest')
          .box-body
            .form-group
              label(for='first_name') First Name
              input#first_name.form-control(type='text', placeholder='Enter First Name', required='true')
            .form-group
              label(for='last_name') Last Name
              input#last_name.form-control(type='text', placeholder='Enter Last Name', required='true')
            .form-group
              label(for='mobile') Phone Number
              input#mobile.form-control(type='text', placeholder='Enter Phone Number', required='true')
            .form-group
              label(for='apt') Apartment #
              input#apt.form-control(type='text', placeholder='Apartment #', required='true')          
            #d_start.form-group
              label.font-noraml Start Date
              .input-group.date
                span.input-group-addon
                  i.fa.fa-calendar
                input.form-control(type='text', value='03/04/2015', id="start_date")
            #d_end.form-group
              label.font-noraml End Date
              .input-group.date
                span.input-group-addon
                  i.fa.fa-calendar
                input.form-control(type='text', value='03/04/2015', id="end_date")                
            .form-group
              label Select Relation
              select#category.form-control
                option#FS Famely - Spouse
                option#FC Famely - Child                
                option#FP Famely - Parent
                option#FR Famely - Relative
                option#CT Care Taker
                option#O Owner
            .form-group
              label Select Guest Type
              select#type.form-control
                option#T Temporary - Season
                option#P Permanent
                option#R Renter                
            .form-group
              label Comment
              textarea#comment.form-control(rows='3', placeholder='Enter ...')          
            //-  
              .checkbox
                label
                  input(type='checkbox')
                  |  Check me out
            .form-group
              label(for='phone') Alternate Number
              input#phone.form-control(type='text', placeholder='Enter Alternate Number')
            .form-group
              label(for='email') Email address
              input#email.form-control(type='text', placeholder='Enter email')
          .box-footer
            button.btn.btn-primary(type='submit') Add Guest
  
  block scripts
    script(type='text/javascript')
      $('#d_start .input-group.date').datepicker({ todayBtn: "linked", keyboardNavigation: false, forceParse: false, calendarWeeks: true, autoclose: true }).datepicker('update', new Date());;
      $('#d_end .input-group.date').datepicker({ todayBtn: "linked", keyboardNavigation: false, forceParse: false, calendarWeeks: true, autoclose: true }).datepicker('update', new Date());;
