
extends layout
link(rel='stylesheet', href='plugins/daterangepicker/datepicker3.css')
block content  

  include includes/admin_info_panel      
  .row
    .col-lg-12  
      .box.box-primary
        .box-header.with-border
          h3.box-title Please add fill all the details
        // /.box-header
        // form start
        //- if(message != undefined && message.length > 0)
          div#message.callout.callout-danger
            h4 Error add new parece!      
              p
              | #{message}
        if(message != undefined && message.length > 0)
          .alert.alert-danger.alert-dismissable
            button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
            h4
              i.icon.fa.fa-ban
              |  Alert!
            | #{message}


        form(role='form', action='/add_parcel',method='POST',id='addParcel')
          .box-body
            .row
              .col-md-4  
                  .form-group
                    label(for='apt') Apartment #
                    input#apt.form-control(type='text', tabindex="1", name="apt", placeholder='Apartment #', required='true', autofocus)                            
                  .form-group
                    label(for='total_packages') Total Pacakges #
                    input#total_packages.form-control(type='text', tabindex="3", name="total_packages", placeholder='# of Pacakges', required='true', autofocus)                              
                    
              .col-md-4              
                  .form-group
                    label(for='referance_number') Referance #
                    input#referance_number.form-control(type='text', tabindex="2", name="referance_number", placeholder='Enter Referance #', required='true')                  
                  .form-group
                    label Vendor
                    select#vendor.form-control(name="vendor", , tabindex="4")
                      option(value="UPS") UPS                      
                      option(value="FEDEX") FEDEX
                      option(value="USPS") USPS
                      option(value="DHS") DHS
                      option(value="Other") Other   
                //-
                  .form-group
                    label Select Visitor Type
                    select#type.form-control(name="type", tabindex="4")
                      option(value="T") Temporary - Season
                      option(value="P") Permanent
                      option(value="R") Renter                                        
              
            .form-group
              label Comment
              textarea#comment.form-control(name='comment', tabindex="5", rows='4', cols='20', value="") 
              //input#comment.form-control(rows='3', tabindex="5", name="comment")          
            
          .box-footer
            button.btn.btn-primary(type='submit') Add Parcel
  