
extends layout
link(rel='stylesheet', href='plugins/daterangepicker/datepicker3.css')
block content  

  include includes/admin_info_panel      
  .row
    .col-lg-12  
      .box.box-primary
        .box-header.with-border
          h3.box-title Visitor Detials
        // /.box-header
        // form start
        form(role='form', action='/add_visitor',method='POST',id='addVisitor')
          .box-body
            .row
              .col-md-4  
                  .form-group
                    label(for='apt') Apartment #
                    input#apt.form-control(type='text', tabindex="1", name="apt", placeholder='Apartment #', required='true', autofocus)                            
                  .form-group
                    label Visitor Relation
                    select#category.form-control(name="category", , tabindex="3")
                      option(value="F") Family                      
                      option(value="CT") Care Taker
                      option(value="V") Visitor                      
                      option(value="O") Other   
              .col-md-4              
                  .form-group
                    label(for='name') Name
                    input#name.form-control(type='text', tabindex="2", name="name", placeholder='Enter Name', required='true')                  
                //-
                  .form-group
                    label Select Visitor Type
                    select#type.form-control(name="type", tabindex="4")
                      option(value="T") Temporary - Season
                      option(value="P") Permanent
                      option(value="R") Renter                                        
              
            .form-group
              label Comment
              textarea#comment.form-control(name='comment', tabindex="5", rows='4', cols='20', value="") 
              //input#comment.form-control(rows='3', tabindex="5", name="comment")          
            
          .box-footer
            button.btn.btn-primary(type='submit') Add Visitor
  