
extends layout
block content
    
    script(type='text/javascript')      
      $(function(){      
      $("#end_date").datepicker({ autoclose: true, todayHighlight: true, autoSize: true }).datepicker('update', new Date());}
      );
    
    script(type='text/javascript')
      $(function(){
      $("#start_date").datepicker({ autoclose: true, todayHighlight: true }).datepicker('update', new Date());}
      );
    
      $(".datepicker").css('margin-left', '-50px', 'margin-top', '-250px');

  .box.box-primary
      .box-header.with-border
        h3.box-title Quick Example
      // /.box-header
      // form start
      form(role='form')
        .box-body
          .form-group
            label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
          .form-group
            label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
          .form-group
            label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
          .form-group
            label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
          .form-group
            label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
          .form-group
            label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')          
          .form-group
            label(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(type='password', placeholder='Password')
          .form-group
            label(for='exampleInputFile') File input
            input#exampleInputFile(type='file')
            p.help-block Example block-level help text here.
          .checkbox
            label
              input(type='checkbox')
              |  Check me out
        // /.box-body
        .box-footer
          button.btn.btn-primary(type='submit') Submit


//-    
    if message
        p= message
    form(class='form-horizontal',action='/add_guest',method='POST',id='addGuest')
        fieldset
            div#legand
                legend Guest Information
            div.row.form-grid
                .col-sm-4.form-col
                    div.control-group
                        label(for='first_name',class='control-label') First Name
                        div.controls
                            input(type='text',id='first_name',name='first_name',placeholder='First name',class='input-xlarge', required='true')
                .col-sm-4.form-col
                    div.control-group
                        label(for='lase_name',class='control-label') Last Name
                        div.controls
                            input(type='text',id='last_name',name='last_name',placeholder='Last Name',class='input-xlarge', required='true')

            div.row.form-grid
                .col-sm-4.form-col
                    div.control-group
                        label(for='email',class='control-label') Email
                        div.controls
                            input(type='text',id='email',name='email',placeholder='Email',class='input-xlarge', required='true')
                .col-sm-4.form-col    
                    div.control-group
                        label(for='mobile',class='control-label') Mobile number
                        div.controls
                            input(type='text',id='mobile',name='mobile',placeholder='Mobile Number',class='input-xlarge', required='true')    
                .col-sm-4.form-col    
                    div.control-group
                        label(for='phone',class='control-label') Phone number
                        div.controls
                            input(type='text',id='phone',name='phone',placeholder='Phone Number',class='input-xlarge', required='true')        

            
            div.row.form-grid
                .col-sm-4.form-col
                    div.control-group
                        label(for='apt',class='control-label') Apt #
                        div.controls
                            input(type='text',id='apt',name='apt',placeholder='Apt',class='input-xlarge', required='true')
                .col-sm-4.form-col    
                    div.control-group
                        label(for='start_date',class='control-label') Start Date
                        div.controls
                            input(type='text',id='start_date',name='start_date',placeholder='Start Date',class='input-xlarge', required='true')  
                .col-sm-4.form-col    
                    div.control-group
                        label(for='end_date',class='control-label') End Date
                        div.controls
                            input(type='text',id='end_date',name='end_date',placeholder='End Date',class='input-xlarge', required='true')        

            div.row.form-grid
              .col-sm-4.form-col
               div.control-group
                div.checkbox.checkbox-primary
                  input(type="checkbox", name="app_fee_paid", id="app_fee_paid")
                  label(for='app_fee_paid') Application fee paid
                        
            div.row.form-grid
              .col-sm-4.form-col
               div.control-group
                .checkbox.checkbox-danger
                  input(type="checkbox", name="app_deposit_paid", id="app_deposit_paid")
                  label(for='app_deposit_paid') Deposid Paid

            div.control-group                        
                br
            div.control-group
                div.controls
                    button(type='submit',class='btn btn-lg btn-primary btnAddGuest') Add Guest

