
extends layout
link(rel='stylesheet', href='plugins/daterangepicker/datepicker3.css')
block content  
  //-  
      script(type='text/javascript')      
        $(function(){      
        $("#end_date").datepicker({ autoclose: true, todayHighlight: true, autoSize: true }).datepicker('update', new Date());}
        );
    
      script(type='text/javascript')
        $(function(){
        $("#start_date").datepicker({ autoclose: true, todayHighlight: true }).datepicker('update', new Date());}
        );
    
        $(".datepicker").css('margin-left', '-50px', 'margin-top', '-250px');

  include includes/admin_info_panel      
  .row
    .col-lg-12  
      .box.box-primary
        .box-header.with-border
          h3.box-title Guest Detials
        // /.box-header
        // form start
        form(role='form', action='/add_guest',method='POST',id='addGuest')
          .box-body
            .row
              .col-md-4  
                  .form-group
                    label(for='apt') Apartment #
                    input#apt.form-control(type='text', tabindex="1", name="apt", placeholder='Apartment #', required='true', autofocus)          
                  .form-group
                    label(for='mobile') Phone Number
                    input#mobile.form-control(type='text', tabindex="4", name="mobile", placeholder='Enter Phone Number', required='true')
                  .form-group
                    label Select Relation
                    select#category.form-control(name="category", , tabindex="7")
                      option(value="FS") Family - Spouse
                      option(value="FC") Family - Child                
                      option(value="FP") Family - Parent
                      option(value="FR") Family - Relative
                      option(value="CT") Care Taker
                      option(value="V") Visitor                      
                      option(value="O") Owner   
                  .form-group
                    label(for='email') Email address
                    input#email.form-control(type='text', tabindex="10", name="email", placeholder='Enter email')                                                                         
              .col-md-4              
                  .form-group
                    label(for='first_name') First Name
                    input#first_name.form-control(type='text', tabindex="2", name="first_name", placeholder='Enter First Name', required='true')
                  #d_start.form-group
                    label.font-noraml Start Date
                    .input-group.date
                      span.input-group-addon
                        i.fa.fa-calendar
                      input.form-control(type='text', tabindex="5", value='03/04/2015', name="start_date" , id="start_date")
                  .form-group
                    label Select Guest Type
                    select#type.form-control(name="type", tabindex="8")
                      option(value="T") Temporary - Season
                      option(value="P") Permanent
                      option(value="R") Renter                          
              .col-md-4                                
                  .form-group
                    label(for='last_name') Last Name
                    input#last_name.form-control(type='text', tabindex="3", name="last_name", placeholder='Enter Last Name', required='true')              
                  #d_end.form-group
                    label.font-noraml End Date
                    .input-group.date
                      span.input-group-addon
                        i.fa.fa-calendar
                      input.form-control(type='text', tabindex="6", name="end_date", value='03/04/2015', id="end_date")                
              .col-md-4                                    
                                    
                  .form-group
                    label(for='phone') Alternate Number
                    input#phone.form-control(type='text', tabindex="9" , name="phone", placeholder='Enter Alternate Number')
            .form-group
              label Comment
              input#comment.form-control(rows='3', tabindex="11", name="comment")          
            //-  
              .checkbox
                label
                  input(type='checkbox')
                  |  Check me out
            
          .box-footer
            button.btn.btn-primary(type='submit') Add Guest
  
  block scripts
    script(type='text/javascript')
      $('#d_start .input-group.date').datepicker({ todayBtn: "linked", keyboardNavigation: false, forceParse: false, calendarWeeks: true, autoclose: true }).datepicker('update', new Date());;
      $('#d_end .input-group.date').datepicker({ todayBtn: "linked", keyboardNavigation: false, forceParse: false, calendarWeeks: true, autoclose: true }).datepicker('update', new Date());;
