extends layout

block content
 div.container
  div.row
   div.col-sm-6.col-md-4.col-md-offset-1
    h1 Contact Us
    p Sea Air Towers Condominium Association
    p 3725 South Ocean Drive
    p Hollywood , FL , 33019 
    p Phone: (954) 455-3893(954) 455-3893
    p Fax: (954) 455-3988
    p Email: manager@seaairtowers.org