doctype html
html
  head
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
    link(href='stylesheets/grid.css', rel='stylesheet')
    link(href='stylesheets/navbar.css', rel='stylesheet')
    link(href='datepicker/css/bootstrap-datepicker.css', rel='stylesheet')
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='bootstrap/js/bootstrap.min.js')
    script(src='datepicker/js/bootstrap-datepicker.js')

    
    script
      $(function(){$("#s_datepicker").datepicker({ autoclose: true, todayHighlight: true }).datepicker('update', new Date());});
      $(function(){$("#e_datepicker").datepicker({ autoclose: true, todayHighlight: true }).datepicker('update', new Date());});
      
  body
            
      // div#datepicker()
      input#s_datepicker(type='text', name='s_datepicker')                     
      input#e_datepicker(type='text', name='e_datepicker')                     
                     
  