extends layout
block content
    .box.box-solid.box-success
      .box-header.with-border
        i.fa.fa-text-width
        h3.box-title Guest Details
      // /.box-header
      .box-body
        .row
          .col-md-6
            dl
              dt Apartment #
              dd #{guest.apt}
              dt Start Date
              dd #{guest.start_date}
              dt Phone #
              dd #{guest.mobile} / #{guest.phone}
              dt Type
              dd #{guest.type}              
          .col-md-6
            dl
              dt Full Name
              dd #{guest.first_name} #{guest.last_name}
              dt End Date
              dd #{guest.end_date}
              dt Realation
              dd #{guest.category}
        dl
              dt Comment
              dd #{guest.comment}      
      // /.box-body
      //- Owner details         
    .box.box-warning.box-solid
          .box-header.with-border
            h3.box-title Owner Information - Apt #{owner.apt}
            .box-tools.pull-right
              button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
            // /.box-tools
          // /.box-header
          .box-body
            .row
              .col-md-6
                dl
                  dt Owner Name 
                  dd #{owner.owner_name}
                  dt Mobile #
                  dd #{owner.mobile}
                  dt Alternate #
                  dd #{owner.phone}                  
                  dt
                  dd          
          // /.box-body
        // /.box
  //-      
    .row
      .col-md-3
        .box.box-default.collapsed-box.box-solid
          .box-header.with-border
            h3.box-title Expandable
            .box-tools.pull-right
              button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-plus
            // /.box-tools
          // /.box-header
          .box-body
            | The body of the box
          // /.box-body
        // /.box
      // /.col
      .col-md-3
        .box.box-success.box-solid
          .box-header.with-border
            h3.box-title Removable
            .box-tools.pull-right
              button.btn.btn-box-tool(type='button', data-widget='remove')
                i.fa.fa-times
            // /.box-tools
          // /.box-header
          .box-body
            | The body of the box
          // /.box-body
        // /.box
      // /.col
      .col-md-3
        .box.box-warning.box-solid
          .box-header.with-border
            h3.box-title Collapsable
            .box-tools.pull-right
              button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
            // /.box-tools
          // /.box-header
          .box-body
            | The body of the box
          // /.box-body
        // /.box
      // /.col
      .col-md-3
        .box.box-danger.box-solid
          .box-header
            h3.box-title Loading state
          .box-body
            | The body of the box
          // /.box-body
          // Loading (remove the following to stop the loading)
          .overlay
            i.fa.fa-refresh.fa-spin
          // end loading
        // /.box
      // /.col
