
extends layout
link(rel='stylesheet', href='plugins/daterangepicker/datepicker3.css')
block content  
  script.      
      var _category = '!{visitor.category}';
      var _comment = "!{visitor.comment}";

  include includes/admin_info_panel      
  .row
    .col-lg-12  
      .box.box-primary
        .box-header.with-border
          h3.box-title Visitor Detials
        // /.box-header
        // form start
        form(role='form', action='/edit_visitor',method='POST',id='addVisitor')
          .box-body
            .row
              .col-md-4  
                  .form-group
                    label(for='apt') Apartment #
                    input#apt.form-control(type='text', tabindex="1", name="apt", placeholder='Apartment #', required='true', value="#{visitor.apt}", autofocus)                            
                    input(type='hidden',id='_id',name='_id', value='#{visitor._id}')  
                  .form-group
                    label Visitor Relation
                    select#category.form-control(name="category", , tabindex="3")
                      option(value="F") Family                      
                      option(value="CT") Care Taker
                      option(value="V") Visitor                      
                      option(value="O") Other   
              .col-md-4              
                  .form-group
                    label(for='name') Name
                    input#name.form-control(type='text', tabindex="2", name="name", placeholder='Enter Name', required='true', value="#{visitor.name}" )                  
                //-
                  .form-group
                    label Select Visitor Type
                    select#type.form-control(name="type", tabindex="4")
                      option(value="T") Temporary - Season
                      option(value="P") Permanent
                      option(value="R") Renter                                        
              
            .form-group
              label Comment
              textarea#comment.form-control(name='comment', tabindex="5", rows='4', cols='20', value="#{visitor.comment}") 
              //input#comment.form-control(rows='3', tabindex="5", name="comment")          
            
          .box-footer
            .row
                .col-md-2
                    button#visitorSave(type='submit',class='btn btn-lg btn-primary btnEditGuest') Save Visitor
                .col-md-2
                    button#visitorDelete(type='button',class='btn btn-lg btn-danger btnEditGuest') Delete
                .col-md-2
                    button#visitorCancel(type='button',class='btn btn-lg btn-warning btnEditGuest') Cancel
  
  block scripts
    script(src='/javascripts/edit_visitor.js')

