
extends layout
link(rel='stylesheet', href='plugins/daterangepicker/datepicker3.css')
block content  
  script.
      //var start_date =  '!{guest.start_date}';
      //var end_date = '!{guest.end_date}';    
      var _type = '!{guest.type}';
      var _category = '!{guest.category}';
      var start_date =  new Date('!{guest.start_date}');
      var end_date = new Date('!{guest.end_date}');          
      $(function(){  
      //var numbers = end_date.match(/\d+/g); 
      //var edate = new Date(numbers[2], numbers[0]-1, numbers[1]);    
      $("#end_date").datepicker({ autoclose: true, todayHighlight: true, autoSize: true }).datepicker('update', end_date);}
      );
    

      $(function(){
      //var numbers = start_date.match(/\d+/g); 
      //var sdate = new Date(numbers[2], numbers[0]-1, numbers[1]);       
      $("#start_date").datepicker({ autoclose: true, todayHighlight: true }).datepicker('update', start_date);}
      );
     
      $(function(){
      var fee =  '!{guest.app_fee_paid}';
      var deposit = '!{guest.app_deposit_paid}';
      fee = getBool(fee);
      deposit = getBool(deposit);
      console.log(">> fee :[" + fee + "] Deposit:[" + deposit + "]" );
      $("#app_deposit_paid").attr("checked", deposit);
      $("#app_fee_paid").attr("checked", fee);
      });

      function getBool(val){
      if(val == undefined || val == '' || val == false || val == 'false'){
       val = false;
      }else if(val == true || val == 'true'){
       val = true;
      }else{
       val = false;
      }   
      return val;
      }

  include includes/admin_info_panel      
  .row
    .col-lg-12  
      .box.box-primary
        .box-header.with-border
          h3.box-title Guest Detials
        // /.box-header
        // form start
        if message
          p= message
        form(role='form', action='/edit_guest',method='POST',id='addGuest')
          .box-body
            .row
              .col-md-4  
                  .form-group
                    label(for='apt') Apartment #
                    input#apt.form-control(type='text', tabindex="1", name="apt" , placeholder='Apartment #', required='true', value="#{guest.apt}", autofocus)          
                    input(type='hidden',id='_id',name='_id', value='#{guest._id}')  
                  .form-group
                    label(for='mobile') Phone Number
                    input#mobile.form-control(type='text', tabindex="4" , name="mobile", placeholder='Enter Phone Number', required='true', value="#{guest.mobile}")
                  .form-group
                    label Select Relation
                    select#category.form-control(name="category", tabindex="7")
                      option(value="FS") Family - Spouse
                      option(value="FC") Family - Child                
                      option(value="FP") Family - Parent
                      option(value="FR") Family - Relative                      
                      option(value="CT") Care Taker
                      option(value="V") Visitor
                      option(value="O") Owner   
                  .form-group
                    label(for='email') Email address
                    input#email.form-control(type='text', tabindex="10" , name="email", placeholder='Enter email', , value="#{guest.email}")                                                                         
              .col-md-4              
                  .form-group
                    label(for='first_name') First Name
                    input#first_name.form-control(type='text', tabindex="2", name="first_name", placeholder='Enter First Name', required='true', value="#{guest.first_name}")
                  #d_start.form-group
                    label.font-noraml Start Date
                    .input-group.date
                      span.input-group-addon
                        i.fa.fa-calendar
                      input.form-control(type='text', tabindex="5", name="start_date", value='03/04/2015', id="start_date")
                  .form-group
                    label Select Guest Type
                    select#type.form-control(name="type", tabindex="8")
                      option(value="T") Temporary - Season
                      option(value="P") Permanent
                      option(value="R") Renter                          
              .col-md-4                                
                  .form-group
                    label(for='last_name') Last Name
                    input#last_name.form-control(type='text', tabindex="3", name="last_name", placeholder='Enter Last Name', required='true', value="#{guest.last_name}")              
                  #d_end.form-group
                    label.font-noraml End Date
                    .input-group.date
                      span.input-group-addon
                        i.fa.fa-calendar
                      input.form-control(type='text', tabindex="6", name="end_date", value='03/04/2015', id="end_date")                
              .col-md-4                                                                        
                  .form-group
                    label(for='phone') Alternate Number
                    input#phone.form-control(type='text', tabindex="9", name="phone", placeholder='Enter Alternate Number', value="#{guest.phone}")
              .col-md-12                                    
                  .form-group
                    label Comment
                    input#comment.form-control(rows='3', tabindex="11", name="comment", cols="50", value="#{guest.comment}")          
            //-  
              .checkbox
                label
                  input(type='checkbox')
                  |  Check me out
            
          .box-footer
            .row
                .col-md-2
                    button#guestSave(type='submit',class='btn btn-lg btn-primary btnEditGuest') Save Guest
                .col-md-2
                    button#guestDelete(type='button',class='btn btn-lg btn-danger btnEditGuest') Delete
                .col-md-2
                    button#guestCancel(type='button',class='btn btn-lg btn-warning btnEditGuest') Cancel
  
  block scripts
    //script(type='text/javascript')
      //var start_date =  new Date('!{guest.start_date}');
      //var end_date = new Date('!{guest.end_date}');          
      //$('#d_start .input-group.date').datepicker({ todayBtn: "linked", keyboardNavigation: false, forceParse: false, calendarWeeks: true, autoclose: true }).datepicker('update', start_date);;
      //$('#d_end .input-group.date').datepicker({ todayBtn: "linked", keyboardNavigation: false, forceParse: false, calendarWeeks: true, autoclose: true }).datepicker('update', end_date);;
    script(src='/javascripts/edit_guest.js')

