
extends layout
link(rel='stylesheet', href='plugins/daterangepicker/datepicker3.css')
block content  
  script.
      
      var close_date =  new Date('!{owner.close_date}');      
      var parking = '!{owner.parking}';

      $(function(){
      $("#close_date").datepicker({ autoclose: true, todayHighlight: true }).datepicker('update', close_date);

      if(parking == null || parking == undefined) parking = "";
      $("#parking").val(parking);
      });
           
      
  include includes/admin_info_panel      
  .row
    .col-lg-12  
      .box.box-primary
        .box-header.with-border
          h3.box-title Owner Detials
        // /.box-header
        // form start
        if message
          p= message
        form(role='form', action='/edit_owner',method='POST',id='addOwner')
          .box-body
            .row
              .col-md-4  
                  .form-group
                    label(for='apt') Apartment #
                    input#apt.form-control(type='text', tabindex="1", name="apt" , placeholder='Apartment #', required='true', value="#{owner.apt}", autofocus)          
                    input(type='hidden',id='_id',name='_id', value='#{owner._id}')  
                  .form-group
                    label(for='mobile') Mobile #
                    input#mobile.form-control(type='text', tabindex="4" , name="mobile", placeholder='Enter Mobile Number', required='true', value="#{owner.mobile}")
                  .form-group
                    
                  .form-group
                    label(for='email') Email address
                    input#email.form-control(type='text', tabindex="10" , name="email", placeholder='Enter email', value="#{owner.email}")                                                                         
              .col-md-4              
                  .form-group
                    label(for='first_name') Full Name
                    input#owner_name.form-control(type='text', tabindex="2", name="owner_name", placeholder='Enter Full Name', required='true', value="#{owner.owner_name}")
                  .form-group
                    label(for='home') Home #
                    input#home.form-control(type='text', tabindex="9", name="home", placeholder='Enter Home Number', value="#{owner.home}")
                  .form-group
                    
              .col-md-4                                
                  #d_close.form-group
                    label.font-noraml Close Date
                    .input-group.date
                      span.input-group-addon
                        i.fa.fa-calendar
                      input.form-control(type='text', tabindex="6", name="close_date", value='03/04/2015', id="close_date")                
                  .form-group
                    label(for='work_number') Work #
                    input#work.form-control(type='text', tabindex="3", name="work", placeholder='Enter Work Number', required='true', value="#{owner.work}")              
                  
              .col-md-4                                                                        
                  .form-group
                    label(for='mailing_address') Mailing Address
                    input#mailing_address.form-control(type='text', tabindex="9", name="mailing_address", placeholder='Enter Mailing Address', value="#{owner.mailing_address}")
              
              .col-md-4                                                                        
                  .form-group
                    label(for='parking') Parking # / Location
                    input#parking.form-control(type='text', tabindex="9", name="parking", placeholder='Parking #', value="#{owner.parking}")    
              //-
                .col-md-12                                    
                  .form-group
                    label Comment
                    input#comment.form-control(rows='3', tabindex="11", name="comment", cols="50", value="#{owner.comment}")                      
            
          .box-footer
            .row
                .col-md-2
                    button#ownerSave(type='submit',class='btn btn-lg btn-primary btnEditGuest') Save Owner
                .col-md-2
                    button#ownerDelete(type='button',class='btn btn-lg btn-danger btnEditGuest') Delete
                .col-md-2
                    button#ownerCancel(type='button',class='btn btn-lg btn-warning btnEditGuest') Cancel
  
  block scripts    
    script(src='/javascripts/edit_owner.js')

