doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Simples-Minimalistic Responsive Template
    style(type='text/css').
      /* Client-specific Styles */
      #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
      body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
      /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
      .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.*/
      #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
      img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
      a img {border:none;}
      .image_fix {display:block;}
      p {margin: 0px 0px !important;}
      table td {border-collapse: collapse;}
      table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
      a {color: #0a8cce;text-decoration: none;text-decoration:none!important;}
      /*STYLES*/
      table[class=full] { width: 100%; clear: both; }
      /*IPAD STYLES*/
      @media only screen and (max-width: 640px) {
      a[href^="tel"], a[href^="sms"] {
      text-decoration: none;
      color: #0a8cce; /* or whatever your want */
      pointer-events: none;
      cursor: default;
      }
      .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      text-decoration: default;
      color: #0a8cce !important;
      pointer-events: auto;
      cursor: default;
      }
      table[class=devicewidth] {width: 440px!important;text-align:center!important;}
      table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
      img[class=banner] {width: 440px!important;height:220px!important;}
      img[class=colimg2] {width: 440px!important;height:220px!important;}
      }
      /*IPHONE STYLES*/
      @media only screen and (max-width: 480px) {
      a[href^="tel"], a[href^="sms"] {
      text-decoration: none;
      color: #0a8cce; /* or whatever your want */
      pointer-events: none;
      cursor: default;
      }
      .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      text-decoration: default;
      color: #0a8cce !important;
      pointer-events: auto;
      cursor: default;
      }
      table[class=devicewidth] {width: 280px!important;text-align:center!important;}
      table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
      img[class=banner] {width: 280px!important;height:140px!important;}
      img[class=colimg2] {width: 280px!important;height:140px!important;}
      td[class=mobile-hide]{display:none!important;}
      td[class="padding-bottom25"]{padding-bottom:25px!important;}
      }
  body
    // Start of preheader
    //- table#backgroundTable(width='100%', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', st-sortable='preheader')
      tbody
        tr
          td
            table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
              tbody
                tr
                  td(width='100%')
                    table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
                      tbody
                        // Spacing
                        tr
                          td(width='100%', height='10')
                        // Spacing
                        tr
                          td
                            table(width='100', align='left', border='0', cellpadding='0', cellspacing='0')
                              tbody
                                tr
                                  td.mobile-hide(align='left', valign='middle', style='font-family: Helvetica, arial, sans-serif; font-size: 14px;color: #666666', st-content='viewonline')
                                    a(href='#', style='text-decoration: none; color: #666666') View Online 
                            table.devicewidth(width='100', align='right', border='0', cellpadding='0', cellspacing='0')
                              tbody
                                tr
                                  td(width='30', height='30', align='right')
                                    .imgpop
                                      a(target='_blank', href='#')
                                        img(src='facebook.png', alt='', border='0', width='30', height='30', style='display:block; border:none; outline:none; text-decoration:none;')
                                  td(align='left', width='20', style='font-size:1px; line-height:1px;')  
                                  td(width='30', height='30', align='center')
                                    .imgpop
                                      a(target='_blank', href='#')
                                        img(src='twitter.png', alt='', border='0', width='30', height='30', style='display:block; border:none; outline:none; text-decoration:none;')
                                  td(align='left', width='20', style='font-size:1px; line-height:1px;')  
                                  td(width='30', height='30', align='center')
                                    .imgpop
                                      a(target='_blank', href='#')
                                        img(src='linkedin.png', alt='', border='0', width='30', height='30', style='display:block; border:none; outline:none; text-decoration:none;')
                        // Spacing
                        tr
                          td(width='100%', height='10')
                        // Spacing
    // End of preheader
    // Start of header
    table#backgroundTable(width='100%', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', st-sortable='header')
      tbody
        tr
          td
            table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
              tbody
                tr
                  td(width='100%')
                    table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
                      tbody
                        // Spacing
                        tr
                          td(height='20', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                        // Spacing
                        tr
                          td(align='center')                                                      
                                      a(target='_blank', href='#')
                                        h2 Hello #{name}!                            
                        // Spacing
                        tr
                          td(height='20', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                        // Spacing
    // End of Header
    // Start of main-banner
    table#backgroundTable(width='100%', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', st-sortable='banner')
      tbody
        tr
          td
            table.devicewidth(width='256', cellpadding='0', cellspacing='0', border='0', align='center')
              tbody
                tr
                  td(width='100%')
                    table.devicewidth(width='256', align='center', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          // start of image
                          td(align='center', st-image='banner-image')
                            .imgpop
                              a(target='_blank', href='#')
                                //-img.banner(width='256', border='0', height='256', alt='', style='display:block; border:none; outline:none; text-decoration:none;', src='/images/box.png')
                                img.banner(width='256', border='0', height='256', alt='', style='display:block; border:none; outline:none; text-decoration:none;', src='https://cdn4.iconfinder.com/data/icons/ballicons-2-free/100/box-128.png')


                    // end of image
    // End of main-banner
    // Start of seperator
    table#backgroundTable(width='100%', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', st-sortable='seperator')
      tbody
        tr
          td
            table.devicewidth(width='600', align='center', cellspacing='0', cellpadding='0', border='0')
              tbody
                tr
                  td(align='center', height='20', style='font-size:1px; line-height:1px;')  
    // End of seperator
    // Start Full Text
    table#backgroundTable(width='100%', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', st-sortable='full-text')
      tbody
        tr
          td
            table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
              tbody
                tr
                  td(width='100%')
                    table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
                      tbody
                        // Spacing
                        tr
                          td(height='20', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                        // Spacing
                        tr
                          td
                            table.devicewidthinner(width='560', align='center', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                // Title
                                tr
                                  td(style='font-family: Helvetica, arial, sans-serif; font-size: 22px; color: #333333; text-align:center; line-height: 30px;', st-title='fulltext-heading')
                                    | Unit #{apt} - received a pacakge from #{package_provider}
                                    //- br 
                                    //-| Articel # #{pacakge_number}                                    
                                // End of Title
                                // spacing                                
                                //-tr
                                  td(width='100%', height='20', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                                // End of spacing
                                tr
                                  td(style='font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #333333; text-align:center; line-height: 30px;', st-title='fulltext-heading')                                    
                                    | Received at : #{date}
                                // content
                                tr
                                  td(style='font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #666666; text-align:center; line-height: 30px;', st-content='fulltext-content')
                                    | Please come to the front desk in your earlier convenient to collect your pacakge.
                                // End of content
                        // Spacing
                        tr
                          td(height='20', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                        // Spacing
    // end of full text
    // Start of seperator
  //-   
    table#backgroundTable(width='100%', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', st-sortable='seperator')
      tbody
        tr
          td
            table.devicewidth(width='600', align='center', cellspacing='0', cellpadding='0', border='0')
              tbody
                tr
                  td(align='center', height='30', style='font-size:1px; line-height:1px;')  
                tr
                  td(width='550', align='center', height='1', bgcolor='#d1d1d1', style='font-size:1px; line-height:1px;')  
                tr
                  td(align='center', height='30', style='font-size:1px; line-height:1px;')  
    // End of seperator
    // 3 Start of Columns
    table#backgroundTable(width='100%', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td
            table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
              tbody
                tr
                  td(width='100%')
                    table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
                      tbody
                        tr
                          td
                            // col 1
                            table.devicewidth(width='186', align='left', border='0', cellpadding='0', cellspacing='0')
                              tbody
                                // image 2
                                tr
                                  td.devicewidth(width='100%', align='center')
                                    img(src='icon1.png', alt='', border='0', width='50', height='50', style='display:block; border:none; outline:none; text-decoration:none;')
                                // end of image2
                                tr
                                  td
                                    // start of text content table
                                    table.devicewidthinner(width='186', align='center', border='0', cellpadding='0', cellspacing='0')
                                      tbody
                                        // Spacing
                                        tr
                                          td(width='100%', height='15', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                                        // Spacing
                                        // title2
                                        tr
                                          td(style='font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #666666; text-align:center; line-height: 24px;', st-title='3col-title1')
                                            | Heading
                                        // end of title2
                                        // Spacing
                                        tr
                                          td(width='100%', height='15', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                                        // Spacing
                                        // content2
                                        tr
                                          td(style='font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #889098; text-align:center; line-height: 24px;', st-content='3col-content1')
                                            | Two lines of Locvrem Ipsum
                                            | will just fit in here.
                                        // end of content2
                                        // Spacing
                                        tr
                                          td(width='100%', height='15', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                                        // Spacing
                                        // read more
                                        tr
                                          td.padding-bottom25(style='font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #0a8cd8;  text-align:center; line-height: 20px;', st-title='3col-readmore1')
                                            a(href='#', style='text-decoration:none; color: #0a8cd8; ') Read More
                                        // end of read more
                                // end of text content table
                            // spacing
                            table.removeMobile(width='20', align='left', border='0', cellpadding='0', cellspacing='0')
                              tbody
                                tr
                                  td(width='100%', height='15', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                            // end of spacing
                            // col 2
                            table.devicewidth(width='186', align='left', border='0', cellpadding='0', cellspacing='0')
                              tbody
                                // image 2
                                tr
                                  td.devicewidth(width='100%', align='center')
                                    img(src='icon1.png', alt='', border='0', width='50', height='50', style='display:block; border:none; outline:none; text-decoration:none;')
                                // end of image2
                                tr
                                  td
                                    // start of text content table
                                    table.devicewidthinner(width='186', align='center', border='0', cellpadding='0', cellspacing='0')
                                      tbody
                                        // Spacing
                                        tr
                                          td(width='100%', height='15', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                                        // Spacing
                                        // title2
                                        tr
                                          td(style='font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #666666; text-align:center; line-height: 24px;', st-title='3col-title2')
                                            | Heading
                                        // end of title2
                                        // Spacing
                                        tr
                                          td(width='100%', height='15', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                                        // Spacing
                                        // content2
                                        tr
                                          td(style='font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #889098; text-align:center; line-height: 24px;', st-content='3col-content2')
                                            | Two lines of Locvrem Ipsum
                                            | will just fit in here.
                                        // end of content2
                                        // Spacing
                                        tr
                                          td(width='100%', height='15', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                                        // /Spacing
                                        // read more
                                        tr
                                          td.padding-bottom25(style='font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #0a8cd8;  text-align:center; line-height: 20px;', st-title='3col-readmore2')
                                            a(href='#', style='text-decoration:none; color: #0a8cd8; ') Read More
                                        // end of read more
                                // end of text content table
                            // end of col 2
                            // spacing
                            table.removeMobile(width='1', align='left', border='0', cellpadding='0', cellspacing='0')
                              tbody
                                tr
                                  td(width='100%', height='15', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                            // end of spacing
                            // col 3
                            table.devicewidth(width='186', align='right', border='0', cellpadding='0', cellspacing='0')
                              tbody
                                // image3
                                tr
                                  td.devicewidth(width='100%', align='center')
                                    img(src='icon1.png', alt='', border='0', width='50', height='50', style='display:block; border:none; outline:none; text-decoration:none;')
                                // end of image3
                                tr
                                  td
                                    // start of text content table
                                    table.devicewidthinner(width='186', align='center', border='0', cellpadding='0', cellspacing='0')
                                      tbody
                                        // Spacing
                                        tr
                                          td(width='100%', height='15', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                                        // Spacing
                                        // title
                                        tr
                                          td(style='font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #666666; text-align:center; line-height: 24px;', st-title='3col-title3')
                                            | Heading
                                        // end of title
                                        // Spacing
                                        tr
                                          td(width='100%', height='15', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                                        // Spacing
                                        // content
                                        tr
                                          td(style='font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #889098; text-align:center; line-height: 24px;', st-content='3col-content3')
                                            | Two lines of Locvrem Ipsum
                                            | will just fit in here.
                                        // end of content
                                        // Spacing
                                        tr
                                          td(width='100%', height='15', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                                        // Spacing
                                        // read more
                                        tr
                                          td(style='font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #0a8cce;  text-align:center; line-height: 20px;', st-title='3col-readmore3')
                                            a(href='#', style='text-decoration:none; color: #0a8cce; ') Read More
                                        // end of read more
                                // end of text content table
                          // spacing
                          // end of spacing
    // end of 3 Columns
    // Start of seperator
    table#backgroundTable(width='100%', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', st-sortable='seperator')
      tbody
        tr
          td
            table.devicewidth(width='600', align='center', cellspacing='0', cellpadding='0', border='0')
              tbody
                tr
                  td(align='center', height='30', style='font-size:1px; line-height:1px;')  
                tr
                  td(width='550', align='center', height='1', bgcolor='#d1d1d1', style='font-size:1px; line-height:1px;')  
                tr
                  td(align='center', height='30', style='font-size:1px; line-height:1px;')  
    // End of seperator
    // 2columns
    table#backgroundTable(width='100%', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', st-sortable='2columns')
      tbody
        tr
          td
            table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
              tbody
                tr
                  td(width='100%')
                    table.devicewidth(bgcolor='#ffffff', width='600', cellpadding='0', cellspacing='0', border='0', align='center')
                      tbody
                        tr
                          td
                            // start of left column
                            table.devicewidth(width='290', align='left', border='0', cellpadding='0', cellspacing='0')
                              tbody
                                // Spacing
                                tr
                                  td(width='100%', height='20')
                                // Spacing
                                tr
                                  td
                                    // start of text content table
                                    table.devicewidth(width='290', align='left', border='0', cellpadding='0', cellspacing='0')
                                      tbody
                                        // image
                                        tr
                                          td.devicewidth(width='290', height='160', align='center')
                                            img.colimg2(src='ipad.png', alt='', border='0', width='290', height='160', style='display:block; border:none; outline:none; text-decoration:none;')
                                        // Content
                                        tr
                                          td
                                            table.devicewidthinner(width='270', align='center', border='0', cellpadding='0', cellspacing='0')
                                              tbody
                                                tr
                                                  td(width='100%', height='20')
                                                tr
                                                  td(style='font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #333333; line-height:24px;text-align:center;', st-title='2coltitle1')
                                                    | 2 Columns Heading
                                                tr
                                                  td(width='100%', height='20')
                                                tr
                                                  td(style='font-family: Helvetica, arial, sans-serif; font-size: 14px; line-height:24px; color: #666666; text-align:center;', st-conteent='2colcontent1')
                                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius modtempor incididunt ut labore et dolore.
                                                tr
                                                  td(width='100%', height='20')
                                                tr
                                                  td(style='font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #0a8cce; text-align:center;', st-title='2colreadmore1')
                                                    a(href='#', style='text-decoration:none; color:#0a8cce;') Read More
                                        // end of Content
                                        // end of content
                                // end of text content table
                            // end of left column
                            // start of right column
                            table.devicewidth(width='290', align='right', border='0', cellpadding='0', cellspacing='0')
                              tbody
                                // Spacing
                                tr
                                  td(width='100%', height='20')
                                // Spacing
                                tr
                                  td
                                    // start of text content table
                                    table.devicewidth(width='290', align='left', border='0', cellpadding='0', cellspacing='0')
                                      tbody
                                        // image
                                        tr
                                          td.devicewidth(width='290', height='160', align='center')
                                            img.colimg2(src='ipad.png', alt='', border='0', width='290', height='160', style='display:block; border:none; outline:none; text-decoration:none;')
                                        // Content
                                        tr
                                          td
                                            table.devicewidthinner(width='270', align='center', border='0', cellpadding='0', cellspacing='0')
                                              tbody
                                                tr
                                                  td(width='100%', height='20')
                                                tr
                                                  td(style='font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #333333;line-height:24px; text-align:center;', st-title='2coltitle2')
                                                    | 2 Columns Heading
                                                tr
                                                  td(width='100%', height='20')
                                                tr
                                                  td(style='font-family: Helvetica, arial, sans-serif; font-size: 14px; line-height:24px; color: #666666; text-align:center;', st-content='2colcontent2')
                                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius modtempor incididunt ut labore et dolore.
                                                tr
                                                  td(width='100%', height='20')
                                                tr
                                                  td(style='font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #0a8cce; text-align:center;', st-title='2colreadmore2')
                                                    a(href='#', style='text-decoration:none; color:#0a8cce;') Read More
                                        // end of Content
                                        // end of content
                                // end of text content table
                            // end of right column
                        // Spacing
                        tr
                          td(width='100%', height='10')
                        // Spacing
    // end of 2 columns
    // Start of seperator
    table#backgroundTable(width='100%', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', st-sortable='seperator')
      tbody
        tr
          td
            table.devicewidth(width='600', align='center', cellspacing='0', cellpadding='0', border='0')
              tbody
                tr
                  td(align='center', height='30', style='font-size:1px; line-height:1px;')  
                tr
                  td(width='550', align='center', height='1', bgcolor='#d1d1d1', style='font-size:1px; line-height:1px;')  
                tr
                  td(align='center', height='30', style='font-size:1px; line-height:1px;')  
    // End of seperator
    // Start Full Text
    table#backgroundTable(width='100%', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', st-sortable='full-text')
      tbody
        tr
          td
            table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
              tbody
                tr
                  td(width='100%')
                    table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
                      tbody
                        // Spacing
                        tr
                          td(height='20', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                        // Spacing
                        tr
                          td
                            table.devicewidthinner(width='560', align='center', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                // Title
                                tr
                                  td(style='font-family: Helvetica, arial, sans-serif; font-size: 30px; color: #333333; text-align:center; line-height: 30px;', st-title='fulltext-title')
                                    | Your Awesome Heading
                                // End of Title
                                // spacing
                                tr
                                  td(width='100%', height='20', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                                // End of spacing
                                // content
                                tr
                                  td(style='font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #666666; text-align:center; line-height: 30px;', st-content='fulltext-content')
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                // End of content
                        // Spacing
                        tr
                          td(height='20', style='font-size:1px; line-height:1px; mso-line-height-rule: exactly;')  
                        // Spacing
    // end of full text
    // Start of seperator
    table#backgroundTable(width='100%', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', st-sortable='seperator')
      tbody
        tr
          td
            table.devicewidth(width='600', align='center', cellspacing='0', cellpadding='0', border='0')
              tbody
                tr
                  td(align='center', height='30', style='font-size:1px; line-height:1px;')  
                tr
                  td(width='550', align='center', height='1', bgcolor='#d1d1d1', style='font-size:1px; line-height:1px;')  
                tr
                  td(align='center', height='30', style='font-size:1px; line-height:1px;')  
    // End of seperator
    // Start of Postfooter
    table#backgroundTable(width='100%', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', st-sortable='postfooter')
      tbody
        tr
          td
            table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
              tbody
                tr
                  td(width='100%')
                    table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
                      tbody
                        tr
                          td(align='center', valign='middle', style='font-family: Helvetica, arial, sans-serif; font-size: 14px;color: #666666', st-content='postfooter')
                            | Click here to 
                            a(href='#', style='text-decoration: none; color: #0a8cce') Unsubscribe
                        // Spacing
                        tr
                          td(width='100%', height='20')
                        // Spacing
    // End of postfooter
