extends layout
block content

if message
        p= message
    form(class='form-horizontal',action='/login',method='POST',id='loginForm')
        fieldset
            div#legand
                legend Login
            div.control-group
                label(for='username',class='control-label') Username
                div.controls
                    input(type='text',id='username',name='username',placeholder='Username',class='input-xlarge')
            div.control-group
                label(for='password',class='control-label') Password
                div.controls
                    input(type='text',id='password',name='password',placeholder='Password',class='input-xlarge')
            div.control-group
                label(for='rememberme',class='control-label') Remember Me
                div.controls
                    input(type='checkbox',name='rememberme')
            div.control-group
                div.controls
                    button(type='submit',class='btn btn-success') Login