extends layout

block content
    h3.
        Guest List
    
    div.searchWraper
     input#search_guest(type="search", name="search_guest", placeholder="Guest name or apt #")
     button(type='button',class='btn btn-md btn-primary btnSearchGuest', id="search_by_btn") Search
     h2#results
    
    div#reservations-container
      if(isAdmin)
        div.row.rowHeader
            .col-xs-1.colHeader Apt #
            .col-xs-2.colHeader Full Name
            .col-xs-3.colHeader Mobile/Other
            .col-xs-1.colHeader Status
            .col-xs-2.colHeader Email
            .col-xs-1.colHeader Start Date
            .col-xs-1.colHeader End Date
            //- .col-sm-2.colHeader Create/Updated
       else
        div.row.rowHeader
            .col-sm-1.colHeader Apt #
            .col-sm-2.colHeader Full Name
            .col-xs-3.colHeader Mobile/Other
            .col-sm-2.colHeader Start Date
            .col-sm-2.colHeader End Date
       div#guestListContainer
         +generateList(reslist, isAdmin)

block scripts
  script(src='/javascripts/search.js')