extends layout

block content

    include includes/admin_info_panel
    
    .row
      .col-lg-7  
        .input-group.input-group-lg
          input#search_guest.form-control(type='search', name="search_guest", placeholder="Guest name or apt #")
          span.input-group-btn
            button.btn.btn-info.btn-flat#search_by_btn(type='button') Search
    br
              
    .box
      .box-header
        h3.box-title Total #{total_guests} guests
      // /.box-header
      .box-body
        #example2_wrapper.dataTables_wrapper.form-inline.dt-bootstrap
          .row
            .col-sm-6
            .col-sm-6
          .row
            .col-sm-12
              div#guestListContainer
                table#example2.table.table-bordered.table-hover.dataTable(role='grid', aria-describedby='example2_info')
                  thead
                    tr(role='row')                      
                        th.sorting_asc(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-sort='ascending', aria-label='Rendering engine: activate to sort column descending') Apt #
                        th.sorting(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-label='Browser: activate to sort column ascending') Full Name
                        th.sorting(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-label='Platform(s): activate to sort column ascending') Phone #
                        th.sorting(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-label='Engine version: activate to sort column ascending') Start Date
                        th.sorting(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-label='CSS grade: activate to sort column ascending') End Date
                        if(isAdmin)
                          th.sorting(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-label='CSS grade: activate to sort column ascending') Type
                          th.sorting(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-label='CSS grade: activate to sort column ascending') Relation                      
                  tbody
                    //mixing generate the guest list.
                    +generateList(reslist, isAdmin)                    
                  //- tfoot
                    tr
                      th(rowspan='1', colspan='1') Apt #
                      th(rowspan='1', colspan='1') Full Name
                      th(rowspan='1', colspan='1') Phone #
                      th(rowspan='1', colspan='1') Start Date
                      th(rowspan='1', colspan='1') End Date
                      th(rowspan='1', colspan='1') Type
                      th(rowspan='1', colspan='1') Relation
          .row
            .col-sm-5
              #example2_info.dataTables_info(role='status', aria-live='polite') Showing 1 to 10 of 57 entries
            .col-sm-7
              #example2_paginate.dataTables_paginate.paging_simple_numbers
                ul.pagination
                  li#example2_previous.paginate_button.previous.disabled
                    a(href='#', aria-controls='example2', data-dt-idx='0', tabindex='0') Previous
                  li.paginate_button.active
                    a(href='#', aria-controls='example2', data-dt-idx='1', tabindex='0') 1
                  li.paginate_button
                    a(href='#', aria-controls='example2', data-dt-idx='2', tabindex='0') 2
                  li.paginate_button
                    a(href='#', aria-controls='example2', data-dt-idx='3', tabindex='0') 3
                  li.paginate_button
                    a(href='#', aria-controls='example2', data-dt-idx='4', tabindex='0') 4
                  li.paginate_button
                    a(href='#', aria-controls='example2', data-dt-idx='5', tabindex='0') 5
                  li.paginate_button
                    a(href='#', aria-controls='example2', data-dt-idx='6', tabindex='0') 6
                  li#example2_next.paginate_button.next
                    a(href='#', aria-controls='example2', data-dt-idx='7', tabindex='0') Next
    
    block scripts
        script(src='/javascripts/search.js')