doctype html
script(src='http://code.jquery.com/jquery-latest.min.js')
//
  This is a starter template page. Use this page to start your new project from
  scratch. This page gets rid of all links and provides the needed markup only.
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title SeaAir Towers | Portal - DoorCap.io
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Mixin 
    include mixins/guest_list
    include mixins/nav_menu
    include mixins/boolean_to_val
    include mixins/formatStringDate
    include mixins/getGuestType
    include mixins/getGuestCategory
    include mixins/getUserType
    include mixins/visitor_list
    include mixins/owner_list  
    include mixins/parcel_list
    include mixins/user_list
    include mixins/formatStringDateTime    
    // includes
    //include ./includes/head.jade

    // Bootstrap 3.3.5
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='dist/css/AdminLTE.min.css')
    // Date Picker
    link(rel='stylesheet', href='plugins/datepicker/datepicker3.css')
    //custom
    link(rel='stylesheet', href='stylesheets/custom.css')

    //
      AdminLTE Skins. We have chosen the skin-blue forthis starter
      page. However, you can choose any other skin. Make sure you
      apply the skin classto the body tag so the changes take effect.
    link(rel='stylesheet', href='dist/css/skins/skin-blue.min.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    //  script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
    //  script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

    script(src='plugins/jQuery/jQuery-2.1.4.min.js')
    // Bootstrap 3.3.5
    script(src='bootstrap/js/bootstrap.min.js')
    // AdminLTE App
    script(src='dist/js/app.min.js')
    // datepicker App
    script(src='plugins/datepicker/bootstrap-datepicker.js')
    // moment.js - Parse, validate, manipulate, and display dates in JavaScript.
    script(src='dist/js/moment.js')
    script(src='javascripts/bootbox.min.js')
    script(src='plugins/Slimscroll/jquery.slimscroll.min.js')

  //
    BODY TAG OPTIONS:
    =================
    Apply one or more of the following classes to get the
    desired effect
    |---------------------------------------------------------|
    | SKINS         | skin-blue                               |
    |               | skin-black                              |
    |               | skin-purple                             |
    |               | skin-yellow                             |
    |               | skin-red                                |
    |               | skin-green                              |
    |---------------------------------------------------------|
    |LAYOUT OPTIONS | fixed                                   |
    |               | layout-boxed                            |
    |               | layout-top-nav                          |
    |               | sidebar-collapse                        |
    |               | sidebar-mini                            |
    |---------------------------------------------------------|
  body.hold-transition.skin-blue.sidebar-mini.fixed
    .wrapper
      // Main Header
      header.main-header
        // Logo
        a.logo(href='/home')
          // mini logo for sidebar mini 50x50 pixels
          span.logo-mini
            b SA
            | T
          // logo for regular state and mobile devices          
          span.logo-lg
            b Guard
            |up.io  
        // Header Navbar
        nav.navbar.navbar-static-top(role='navigation')
          // Sidebar toggle button
          a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
            span.sr-only Toggle navigation
          // Navbar Right Menu
          .navbar-custom-menu
            ul.nav.navbar-nav
              // Messages: style can be found in dropdown.less
              li.dropdown.messages-menu
                // Menu toggle button
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.fa.fa-envelope-o
                  span.label.label-success 4
                ul.dropdown-menu
                  li.header You have 4 messages
                  li
                    // inner menu: contains the messages
                    ul.menu
                      li
                        // start message
                        a(href='#')
                          .pull-left
                            // User Image
                            img.img-circle(src='dist/img/user2-160x160.jpg', alt='User Image')
                          // Message title and timestamp
                          h4
                            | Support Team
                            small
                              i.fa.fa-clock-o
                              |  5 mins
                          // The message
                          p Why not buy a new awesome theme?
                      // end message
                    // /.menu
                  li.footer
                    a(href='#') See All Messages
              // /.messages-menu
              // Notifications Menu
              li.dropdown.notifications-menu
                // Menu toggle button
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.fa.fa-bell-o
                  span.label.label-warning 10
                ul.dropdown-menu
                  li.header You have 10 notifications
                  li
                    // Inner Menu: contains the notifications
                    ul.menu
                      li
                        // start notification
                        a(href='#')
                          i.fa.fa-users.text-aqua
                          |  5 new members joined today
                      // end notification
                  li.footer
                    a(href='#') View all
              // Tasks Menu
              li.dropdown.tasks-menu
                // Menu Toggle Button
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.fa.fa-flag-o
                  span.label.label-danger 9
                ul.dropdown-menu
                  li.header You have 9 tasks
                  li
                    // Inner menu: contains the tasks
                    ul.menu
                      li
                        // Task item
                        a(href='#')
                          // Task title and progress text
                          h3
                            | Design some buttons
                            small.pull-right 20%
                          // The progress bar
                          .progress.xs
                            // Change the css width attribute to simulate progress
                            .progress-bar.progress-bar-aqua(style='width: 20%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                              span.sr-only 20% Complete
                      // end task item
                  li.footer
                    a(href='#') View all tasks
              // User Account Menu
              li.dropdown.user.user-menu
                // Menu Toggle Button
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  // The user image in the navbar
                  img.user-image(src='dist/img/avatar3.png', alt='User Image')
                  // hidden-xs hides the username on small devices so only the image appears.
                  span.hidden-xs #{username}
                ul.dropdown-menu
                  // The user image in the menu
                  li.user-header
                    img.img-circle(src='dist/img/avatar3.png', alt='User Image')
                    p
                      | #{username}
                      small 
                        span#member_since                       
                  // Menu Body
                  //-
                    li.user-body
                      .col-xs-4.text-center
                        a(href='#') Followers
                      .col-xs-4.text-center
                        a(href='#') Sales
                      .col-xs-4.text-center
                        a(href='#') Friends
                  // Menu Footer
                  li.user-footer
                    .pull-left
                      a.btn.btn-default.btn-flat(href='#') Profile
                    .pull-right
                      a.btn.btn-default.btn-flat(href='/signout') Sign out
              // Control Sidebar Toggle Button
            //-
              li
                a(href='#', data-toggle='control-sidebar')
                  i.fa.fa-gears
      // Left side column. contains the logo and sidebar
      aside.main-sidebar
        // sidebar: style can be found in sidebar.less
        section.sidebar
          // Sidebar user panel (optional)
          .user-panel
            .pull-left.image
              img.img-circle(src='dist/img/avatar3.png', alt='User Image')
            .pull-left.info
              p #{username}
              // Status
              a(href='#')
                i.fa.fa-circle.text-success
                |  Online
          // search form (Optional)
          //-
            form.sidebar-form(action='#', method='get')
              .input-group
                input.form-control(type='text', name='q', placeholder='Search...')
                span.input-group-btn
                  button#search-btn.btn.btn-flat(type='submit', name='search')
                    i.fa.fa-search
          // /.search form
          // Sidebar Menu
          ul.sidebar-menu
            li.header Main Menu
            // Optionally, you can add icons to the links
            li.active
              a(href='/home')
                i.fa.fa-table
                span Guest List                 
            li
              a(href='/visitors')
                i.fa.fa-calendar
                span Visitors List                
            li
              a(href='/owners')
                i.fa.fa-reorder
                span Owners List
            li
              a(href='/parcels')
                i.fa.fa-cubes
                span  Parcels    
            li
              a(href='/add_visitor')
                i.fa.fa-plus-square-o
                span Add Visitor                                
            li
              a(href='/add_parcel')
                i.fa.fa-envelope-square
                span New Package
            li            
              a(href='/contact')
                i.fa.fa-envelope
                span Contact Us
            if(isAdmin)    
              li.treeview
                a(href='#')
                  i.fa.fa-dashboard
                  span Admin
                  i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li
                    a(href='/add_guest')
                      i.fa.fa-circle-o.text-yellow
                      span Add Guest
                  li
                    a(href='/signup')
                      i.fa.fa-circle-o.text-red
                      span Add User  
                  li
                    a(href='/users')
                      i.fa.fa-circle-o.text-yellow
                      span Users List
          // /.sidebar-menu
        // /.sidebar
      // Content Wrapper. Contains page content
      .content-wrapper
        // Content Header (Page header)
        section.content-header
          h1
            | #{title}
            small Optional description
          ol.breadcrumb
            li
              a(href='#')
                i.fa.fa-dashboard
                |  Level
            li.active Here
        // Main content
        section.content
          // Your Page Content Here
          block content
          
        // /.content
      // /.content-wrapper
      // Main Footer
      footer.main-footer
        // To the right
        .pull-right.hidden-xs
          | Anything you want
        // Default to the left
        strong
          | Copyright © 2015 
          a(href='#') GuardUp.io
          | .
        |  All rights reserved.
      // Control Sidebar
      //- showing right sidebar on ipad ... removed by me ...
        aside.control-sidebar.control-sidebar-dark
          // Create the tabs
          ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
            li.active
              a(href='#control-sidebar-home-tab', data-toggle='tab')
                i.fa.fa-home
            li
              a(href='#control-sidebar-settings-tab', data-toggle='tab')
                i.fa.fa-gears
          // Tab panes        
          .tab-content
            // Home tab content
            #control-sidebar-home-tab.tab-pane.active
              h3.control-sidebar-heading Recent Activity
              ul.control-sidebar-menu
                li
                  a(href='javascript::;')
                    i.menu-icon.fa.fa-birthday-cake.bg-red
                    .menu-info
                      h4.control-sidebar-subheading Langdons Birthday
                      p Will be 23 on April 24th
              // /.control-sidebar-menu
              h3.control-sidebar-heading Tasks Progress
              ul.control-sidebar-menu
                li
                  a(href='javascript::;')
                    h4.control-sidebar-subheading
                      | Custom Template Design
                      span.label.label-danger.pull-right 70%
                    .progress.progress-xxs
                      .progress-bar.progress-bar-danger(style='width: 70%')
              // /.control-sidebar-menu
            // /.tab-pane
            // Stats tab content
            #control-sidebar-stats-tab.tab-pane Stats Tab Content
            // /.tab-pane
            // Settings tab content
            #control-sidebar-settings-tab.tab-pane
              form(method='post')
                h3.control-sidebar-heading General Settings
                .form-group
                  label.control-sidebar-subheading
                    | Report panel usage
                    input.pull-right(type='checkbox', checked='')
                  p
                    | Some information about this general settings option
                // /.form-group
            // /.tab-pane
      // /.control-sidebar
      //
        Add the sidebars background. This div must be placed
        immediately after the control sidebar
      .control-sidebar-bg
    // ./wrapper
    // REQUIRED JS SCRIPTS    
    // jQuery 2.1.4
    
    script(type='text/javascript') 
      $('#member_since').html(moment().format('LLL'));
    //-
        Optionally, you can add Slimscroll and FastClick plugins.
        Bothof these plugins are recommended to enhance the
        user experience. Slimscroll is required when using the
        fixed layout.
//-
    block scripts      
