doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title AdminLTE 2 | Log in
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.5
    link(rel='stylesheet', href='../../bootstrap/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='../../dist/css/AdminLTE.min.css')
    // iCheck
    link(rel='stylesheet', href='../../plugins/iCheck/square/blue.css')
    link(rel='stylesheet', href='stylesheets/custom.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.hold-transition.login-page
    .login-box
      .login-logo
        a(href='../../index2.html')
          b Front
          |Dash.io
          br 
          |SeaAir Towers
      // /.login-logo
      .login-box-body
        p.login-box-msg Sign in to start your session
        form(action='/login', method='post')
          .form-group.has-feedback
            input.form-control(type='text', placeholder='Username' name="username", autofocus)
            span.glyphicon.glyphicon-user.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password', placeholder='Password' name="password")
            span.glyphicon.glyphicon-lock.form-control-feedback
          .row
            .col-xs-8
              .checkbox.icheck
                label
                  input(type='checkbox')
                  |   Remember Me
            // /.col
            .col-xs-4
              button.btn.btn-primary.btn-block.btn-flat(type='submit') Sign In
            // /.col
      //-      
        .social-auth-links.text-center
          p - OR -
          a.btn.btn-block.btn-social.btn-facebook.btn-flat(href='#')
            i.fa.fa-facebook
            |  Sign in using Facebook
          a.btn.btn-block.btn-social.btn-google.btn-flat(href='#')
            i.fa.fa-google-plus
            |  Sign in using Google+
        // /.social-auth-links
        a(href='#') I forgot my password
        br
        a.text-center(href='register.html') Register a new membership
      br
      if(message != undefined && message.length > 0)
        div#message.callout.callout-danger
          h4 Error!      
          p
            | #{message}
      
      // #message
          if message
              h3.text-center.error-message #{message}
      // /.login-box-body
    // /.login-box
    // jQuery 2.1.4
    script(src='../../plugins/jQuery/jQuery-2.1.4.min.js')
    // Bootstrap 3.3.5
    script(src='../../bootstrap/js/bootstrap.min.js')
    // iCheck
    script(src='../../plugins/iCheck/icheck.min.js')
    //AdminLTE App
    script(src="../../dist/js/app.min.js")
    script.
      $(function () {
      $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
      });
      });
