extends layout
block content
    .box.box-info
      .box-header.with-border
        h3.box-title Add New User
      // /.box-header
      // form start
      form(class='form-signin', action='/signup', method='post')
        .box-body
            .row
                .col-md-4  
                    .form-group
                        label.control-label(for='username') Username
                        input#username.form-control(type='text', tabindex="1", placeholder='Username', required, name="username", autofocus)                    
                    .form-group
                        label(for='name') Full Name
                        input#name.form-control(type='text', tabindex="3", placeholder='Full Name', required, name="name")                                            
                .col-md-4  
                    .form-group
                        label.control-label(for='password') Password
                        input#password.form-control(type='password', tabindex="2", placeholder='Password', required, name="password")                                            
                    .form-group
                        label.control-label(for='email') Email
                        input#email.form-control(type='email', tabindex="4", placeholder='Email', required, name="email")                    
                    
            .form-group
                             .checkbox
                                 label
                                     input(type='checkbox', name="isAdmin", id="isAdmin")
                                     |  Is Administrator
        .box-footer
          button.btn.btn-default(type='button' onclick="location.href='/home';") Cancel
          button.btn.btn-info.pull-right(type='submit') Add User
        #message
          if message
           h1.text-center.error-message #{message}