extends layout
block content
    .box.box-info
      .box-header.with-border
        h3.box-title Horizontal Form
      // /.box-header
      // form start
      form.form-horizontal(class='form-signin', action='/signup', method='POST')
        .box-body
                    .form-group
                        label.col-sm-2.control-label(for='username') Username
                        .col-sm-10
                             input#inputEmail3.form-control(type='email', placeholder='Username', required, autofocus)
                    .form-group
                        label.col-sm-2.control-label(for='first_name') First Name
                        .col-sm-10
                             input#inputEmail3.form-control(type='email', placeholder='First Name', required)
                    .form-group
                        label.col-sm-2.control-label(for='last_name') Last Name
                        .col-sm-10
                             input#inputEmail3.form-control(type='email', placeholder='Last Name', required)
                    .form-group
                        label.col-sm-2.control-label(for='email') Email
                        .col-sm-10
                             input#inputEmail3.form-control(type='email', placeholder='Email', required)
                    .form-group
                        label.col-sm-2.control-label(for='password') Password
                        .col-sm-10
                             input#inputPassword3.form-control(type='password', placeholder='Password', required)
                    .form-group
                        .col-sm-offset-2.col-sm-10
                             .checkbox
                                 label
                                     input(type='checkbox', name="isAdmin", id="isAdmin")
                                     |  Is Administrator
        .box-footer
          button.btn.btn-default(type='button' onclick="location.href='/home';") Cancel
          button.btn.btn-info.pull-right(type='submit') Add User
        #message
          if message
           h1.text-center.error-message #{message}