extends layout
block content
    include includes/admin_info_panel    
    .row
      .col-lg-7  
        .input-group.input-group-lg
          input#search_visitor.form-control(type='search', name="search_visitor", placeholder="Visitor name or apt #")
          span.input-group-btn
            button.btn.btn-info.btn-flat#search_visitor_by_btn(type='button') Search
    br
    .box
      .box-header
        h3.box-title Total #{total_visitors} visitors
      // /.box-header
      .box-body
        #example2_wrapper.dataTables_wrapper.form-inline.dt-bootstrap
          .row
            .col-sm-6
            .col-sm-6
          .row
            .col-sm-12
              div#visitorListContainer
                table#example2.table.table-bordered.table-hover.dataTable(role='grid', aria-describedby='example2_info')
                  thead
                    tr(role='row')                      
                        th.sorting_asc(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-sort='ascending', aria-label='Rendering engine: activate to sort column descending') Apt #
                        th.sorting(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-label='Browser: activate to sort column ascending') Visitor Name
                        th.sorting(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-label='Platform(s): activate to sort column ascending') Relation
                        th.sorting(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-label='Engine version: activate to sort column ascending') Comment                        
                  tbody
                    //mixing generate the visitor list.
                    +generateVisitorList(visitorlist, isAdmin)                            
    
    block scripts
      script(src='/javascripts/visitor_search.js')