body{
	font-size: 1.46em;
}

.form-control {	
	font-size: 1.26em;	
	height: 2em;
}

.btn {    
   font-size: 1em;
}

.info-box-number {
    display: block;
    font-weight: 500;
    text-align: center;
    font-size: 41px;
    color: #29942E;
 }