h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 2px;
}
.row .row {
  margin-top: 2px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align:left;
  padding-left: 5px;
  padding-right: 5px;
  /*background-color: #FAFBFA;
  border-bottom: 1px solid #ddd;*/
}

.form-col{
  background-color: transparent;
  border-bottom: 0px solid #fff;    
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.rowHeader{
    width: 100%;
    border-bottom: 1px solid #fff;  
}

.rowList{
    width: 100%;
	margin-left: -18px!important;
}

.colHeader{
    /*width: 10%;*/
    font-weight: 600; 
	/*border:1px solid red;*/
}

.coList{
    /*width: 10%;*/
    font-size: 14px;
	text-align:left;
	/*border:1px solid red;*/
}

#reservations-container{
    margin-left: 10px;
    padding: 10px;
}

.form-grid{
    //background: red;
}

.guestInput, .input-xlarge{
	color: #2c3e50;
}

.btnAddGuest{
	margin: 10px;
	margin-bottom:20px;
}

#guestListContainer{
	/*padding-left:15px;*/
}