
body {
  padding-top: 50px;
}

header {
    text-align: center;
    color: #fff;
    background: #18bc9c;
}

a {
  /*color: #00B7FF;*/
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox{
    margin-bottom: 10px;
}
.form-signin .checkbox{
    font-weight: normal;
}
.form-signin .form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus{
    z-index: 2;
}
.form-signin input[type="text"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="password"].nomargin{
	margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    /*background-color: #f7f7f7;*/
	background-color: #18bc9c;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-wall{
	margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);	
}
.login-title{
    color: #2c3e50;
    font-size: 18px;
    font-weight: 600;
    display: block;
    text-shadow: 1px 1px #CCB9B9;
	text-align : center;
}
.profile-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.new-account{
    display: block;
    margin-top: 10px;
}
h1.error-message{
    color: red;
}
ul.user-details{
    list-style: none;
}

.adminCheck{
	font-size:16px;
}
.loginCheck{
	font-size: 12px !important;
	color: red;	
}

/* new login */
.auth-body {
    box-shadow: rgb(241, 241, 241) 0px 2px 1px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    margin-bottom: 2em;
    padding: 30px;
}
.auth-box {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px)
.auth-wrapper {
    margin: -160px 0px 0px -300px;
    position: absolute;
    left: 50%;
    top: 40%;
}
.auth-wrapper {
    margin: 0px auto;
    max-width: 600px;
    padding-top: 20px;
    width: 90%;
}