body {
  padding: 15px;
  padding-top: 50px;
  padding: 0px;
  margin:0px;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 15px;
      line-height: 1.42857143;
  background-color: #18bc9c;	  
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  /*color: #00B7FF;*/
}

.btnEditGuest{
	margin-left: 5px !important;
	margin-right: 5px !important;
}

input{
    margin: 3px;
    padding: 4px 4px;
}

.rowGreen{
    color: #fff;
    background-color: #B0E6B0;
    border-color: #398439;
}

.searchWraper{
	text-align: left;
}
#search_guest {
    text-align: center;
    width: 400px;
    height: 38px;
    font-size: 1.1em;
    border-radius: 5px;
    color: #2c3e50;
}

.btnSearchGuest{
	margin-left: 10px;
	margin-top: -2px;
}

.thGuest{
	color: #f8e71c;
}

.loginCheckDiv{
	text-align: left;
	padding: 5px 0px;
	padding-left: 2px;
}