mixin generateList(reslist, isAdmin)
  each res, i in reslist   
   tr
       if(isAdmin)
         td 
          a(href="/edit_guest?id=#{res._id}") #{res.apt}
         td #{res.first_name} #{res.last_name}
         td #{res.mobile} /  #{res.phone}                   
         td #{res.status}
         td 
          +getBooleanValue(res.app_fee_paid)  
          &nbsp;/ 
          +getBooleanValue(res.app_deposit_paid)
         td #{res.email}
         td #{res.start_date}
         td #{res.end_date}
         td #{res.comment}
       else
         td #{res.apt}
         td #{res.first_name} #{res.last_name}
         td #{res.mobile} /  #{res.phone}                   
         td #{res.start_date}
         td #{res.end_date}
