mixin getBooleanValue(val)
	if(val == '')
		|	!{'No'}
	else if(val == undefined )
		|	 !{'No'}
	else if(val == null )
		|	!{'No'}   
	else if(val == 'false' )
		|	!{'No'}   
	else if(val == false )
		|	!{'No'}
	else if(val == 'true' )
		|	!{'Yes'}      
	else if(val == true )
		|	!{'Yes'}      
	else 
		|	!{'No'}