mixin formatStringDateTime(date)
	script.
		if('#{date}' == undefined || '#{date}' == ''){
			document.write("--/--/--");
		}else{
			var nDate = moment('#{date}').format('L');	
			nDate += ", " + moment('#{date}').format('h:mm A');	
			document.write(nDate);	
		}
		
		