mixin getGuestType(st)
	script.
		var t = '#{st}';
		var type = "";
		switch(t) {
			case 'T':
				type = "Seasonal";
				break;
			case 'P':
				type = "Permanent";
				break;
			case 'R':
				type = "Renter";
				break;			
			default:
				type = "Unknown";
				break;			
		}
		document.write(type);	
		