mixin getGuestCategory(st)
	script.
		var t = '#{st}';
		var cat = "";
		switch(t) {
			case 'FS':
				cat = "Spouse";
				break;
			case 'FP':
				cat = "Parent";
				break;
			case 'FR':
				cat = "Relative";
				break;
			case 'FC':
				cat = "Child";            
				break;
			case 'CT':
				cat = "Care Taker";    
				break;
			case 'V':
				cat = "Visitor";            
				break;
			case 'O':
				cat = "Owner";        
				break;
			default:
				cat = t;
				break;			
		}
		document.write(cat);	
		