mixin generateList(reslist, isAdmin)
  each res, i in reslist   
   tr
      if(isAdmin)       
        td 
          a(href="/edit_guest?id=#{res._id}") #{res.apt}
      else
        td #{res.apt}    
      td 
        a(href="/details?id=#{res._id}") #{res.first_name} #{res.last_name}
      td #{res.mobile}
      //td #{res.start_date}
      td 
        +formatStringDate(res.start_date)
      //td #{res.end_date}
      td
        +formatStringDate(res.end_date)
      //- 
            td 
              +getBooleanValue(res.app_fee_paid)  
              &nbsp;/ 
              +getBooleanValue(res.app_deposit_paid)
         
      //td #{res.type}
      if(isAdmin)       
        td
          +getGuestType(res.type)
        //td #{res.category}
        td
          +getGuestCategory(res.category) 
