mixin generateList(reslist, isAdmin)
  each res, i in reslist
      if(res.apt != "")
        if(isAdmin)
          div.row.rowList(style="")            
              .col-xs-1.coList 
               a(href="/edit_guest?id=#{res._id}") #{res.apt}
              .col-xs-2.coList #{res.first_name} #{res.last_name}
              .col-xs-3.coList #{res.mobile} / #{res.phone}                    
              .col-xs-1.coList #{res.status}                    
              .col-xs-2.coList #{res.email}                    
              .col-xs-1.coList #{res.start_date}
              .col-xs-1.coList #{res.end_date}
              //- .col-sm-2.coList #{res.create_date}			  
        else
          div.row.rowList(style="")            
              .col-sm-1.coList #{res.apt}
               // a(href="/edit_guest?id=#{res._id}") #{res.apt}
              .col-sm-2.coList #{res.first_name} #{res.last_name}
              .col-xs-3.coList #{res.mobile} /  #{res.phone}                   
              .col-sm-2.coList #{res.start_date}
              .col-sm-2.coList #{res.end_date}