mixin generateMenu(isAdmin, path)
  if(isAdmin)
    each menuitem in [{title:'Home',url:'/home'},{title:'Add Guest',url:'/add_guest'},{title:'Contact',url:'/contact'}]
      if (path == menuitem.url)
        li.active
         a.active(href=menuitem.url) #{menuitem.title}
      else
        li
         a(href=menuitem.url) #{menuitem.title}
  else
    each menuitem in [{title:'Home',url:'/home'}, {title:'Contact',url:'/contact'}]
      if (path == menuitem.url)
        li.active
         a.active(href=menuitem.url) #{menuitem.title}
      else
        li
         a(href=menuitem.url) #{menuitem.title}
  