mixin generateOwnerList(ownerlist, isAdmin)
  each owner, i in ownerlist   
   tr
      if(isAdmin)       
        td 
          a(href="/edit_owner?id=#{owner._id}") #{owner.apt}
      else
        td #{owner.apt}    
      td 
        a(href="/owner_details?id=#{owner._id}") #{owner.owner_name}
      td #{owner.mobile}      
      td #{owner.home}
      if(isAdmin)               
        td #{owner.mailing_address}
        td 
          +formatStringDate(owner.close_date)
        td #{owner.email}
