mixin generateParcelList(parcellist, isAdmin)
  each parcel, i in parcellist   
   tr      
      td #{parcel.apt}    
      td #{parcel.referance}
      td 
         +formatStringDate(parcel.received_date)
      td #{parcel.vendor}
      //- td #{parcel.attempts}      
      if parcel.picked
        td 
          i.icon.fa.fa-check.text-green
      else
        td 
          i.icon.fa.fa-ban.text-red
      td 
        +formatStringDateTime(parcel.email_sent)
      td 
        +formatStringDateTime(parcel.picked_date)
      td
        .btn-group
          button.btn.btn-info(type='button') Action
          button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
           span.caret
           span.sr-only Toggle Dropdown
          ul.dropdown-menu(role='menu')
           li
             a.parcel_picked(href='#', _id="#{parcel._id}") Picked
           li
             a.parcel_resend_email(href='#', _id="#{parcel._id}") Resend Email        
      //-
        button.btn.btn-block.btn-success.btn-xs Picked
        button.btn.btn-block.btn-info.btn-xs Send Email        
      
        
