mixin generateUserList(userlist, isAdmin)
  each user, i in userlist   
   tr
      td #{user.username}
        //a(href="/edit_user?id=#{user._id}") #{user.username}      
      td #{user.name}       
      td #{user.email} 
      td
        +getUserType(user.isAdmin)
      td
        button.btn.btn-block.btn-danger(type='button' _id='#{user._id}' class='userDeleteClass') Delete
      
