mixin generateVisitorList(visitorlist, isAdmin)
  each visitor, i in visitorlist   
   tr
      if(isAdmin)       
        td 
          a(href="/edit_visitor?id=#{visitor._id}") #{visitor.apt}
      else
        //td #{visitor.apt}    
        td
          a(href="/edit_visitor?id=#{visitor._id}") #{visitor.apt}
      td #{visitor.name} 
        //a(href="/visitor_details?id=#{visitor._id}") #{visitor.name}                   
      //--
        td
          +getGuestType(visitor.type)
      td
        +getGuestCategory(visitor.category) 
      td #{visitor.comment}        
